version: 2
updates:

- package-ecosystem: npm
  directory: /
  schedule:
    interval: monthly
  groups:
    fontawesome:
      patterns:
        - "@fortawesome*"
    eslint:
      patterns:
        - "@eslint*"
        - "eslint*"

- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: monthly
