language: python

sudo: false

python:
   - "2.7"
   - "3.3"
   - "3.4"
   - "3.5"
   - "3.6"

before_install:
   - pip install flake8 python-coveralls coverage

script:
   - coverage run --omit='*/lib/*,tests/*' -m unittest discover -s tests
   - flake8 tests/*.py pyca/*.py

after_success:
   - coveralls
