{% extends "layout.html" %}
{% block body %}
<summary>
    <div class=center>
        <div>
            <div>Capture</div>
            {% if recording %}
            <div class=active>Recording</div>
            {% else %}
            <div class=inactive>Idle</div>
            {% endif %}
        </div>

        <div>
            <div>Upload</div>
            {% if uploading %}
            <div class=active>Uploading</div>
            {% else %}
            <div class=inactive>Idle</div>
            {% endif %}
        </div>

        <div>
            <div><span>{{ upcoming }}</span> Upcoming (in Buffer)</div>
            <div><span>{{ processed }}</span> Processed</div>
        </div>
    </div>
</summary>
<main class=center>
<section>
    <h2>Preview Images</h2>
    {% for p in preview %}
        <img style="max-width: 90%;" src="/img/{{ p }}" />
    {% else %}
        No preview image
    {% endfor %}
</section>

<section>
    <h2>Recordings</h2>
    <table>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>
        {% if upcoming > 5 %}
        <tr><td>…</td></tr>
        {% endif %}
        {% for e in upcoming_events %}
        <tr class=upcoming>
            <td>{{ e.start }}</td>
            <td>{{ e.end }}</td>
            <td>upcoming</td>
        </tr>
        {% endfor %}
        {% for e in recorded_events %}
        <tr>
            <td>{{ dtfmt(e.start) }}</td>
            <td>{{ dtfmt(e.end) }}</td>
            <td>{{ e.status_str() }}</td>
        </tr>
        {% endfor %}
        {% if processed > 15 %}
        <tr><td>…</td></tr>
        {% endif %}
    </table>

</section>
</main>
{% endblock %}
