<!doctype html>
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Should be removed once we can load data through the API -->
    <meta http-equiv="refresh" content="{{ config['ui']['refresh_rate'] }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='func.js') }}"></script>
    <title>pyCA</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class=center>
        <a href={{ url_for('home') }}>pyCA</a>
    </header>
    <h1><div class=center>Capture Agent “{{ config['agent']['name'] }}”</div></h1>
    {% block body %}{% endblock %}
</body>
</html>
