[Unit]
Description=Python Capture Agent UI instance
Documentation=https://github.com/opencast/pyCA
Wants=network.target
PartOf=pyca.service
After=pyca.service

[Service]
Type=simple
User=pyca
ExecStart=/usr/bin/gunicorn --config=/etc/pyca/gunicorn.conf.py pyca.ui:app
Restart=always
RestartSec=10

[Install]
WantedBy=pyca.service
