name: Test pyCA

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://endoflife.date/python
        # https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#python
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - '3.10'

    steps:
    - name: install libgnutls28-dev
      run: |
        sudo apt update -q
        sudo apt install -q -y libgnutls28-dev libcurl4-gnutls-dev

    - uses: actions/checkout@v2

    - name: set up python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: install Python dependencies
      run: pip install -r requirements.txt

    - name: install JavaScript dependencies
      run: npm ci

    - name: install test dependencies
      run: pip install -r .github/requirements.txt

    - name: lint code
      run: make lint

    - name: run test
      run: make test

    - name: start user interface
      run: |
        gunzip .github/test.db.gz
        mv .github/test.db pyca.db
        ./start.sh ui &
        sleep 2

    - name: run user interface integration tests
      run: ./.github/selenium-tests

    - name: upload test coverage to coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: coveralls --service=github
